.dashboard {
  padding: 40px;
  text-align: center;
}

.dashboard h1 {
  margin-bottom: 10px;
}

.dashboard p {
  color: #6b7280;
  margin-bottom: 30px;
}

.welcome-message {
  font-size: 1.1rem;
  margin-bottom: 10px !important;
}

.user-highlight {
  color: #38bdf8;
  font-weight: 600;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background: #f8fafc;
  padding: 25px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  color: #2563eb;
  font-weight: bold;
}
